* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	min-height: 100vh;
	background: #111;
	position: relative;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 200px;
	height: 200px;
}

.loader::before {
	content: '';
	position: absolute;
	top: 85px;
	left: 15%;
	width: 70%;
	height: 70%;
	background: #ff3b8d;
	box-shadow: -60px -55px 0 #07b2ff;
	border-radius: 50%;
	animation: animate 1s linear infinite;
}

.loader::after {
	content: '';
	position: absolute;
	bottom: 85px;
	left: 15%;
	width: 70%;
	height: 70%;
	background: #8dff08;
	box-shadow: 60px 55px 0 #ffeb3b;
	border-radius: 50%;
	animation: animate 1s linear infinite;
}

@keyframes animate {
	0% {
		filter: blur(50px) hue-rotate(0deg);
	}

	100% {
		filter: blur(50px) hue-rotate(360deg)
	}
}

.loader span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 50%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 500;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.1);
}

.loader span::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	background: transparent;
	border-radius: 50%;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.08)
}

.banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	clip-path: circle(800px at center center);
	display: none;

}

.banner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.container {
	position: relative;
	margin-top: 200vh;
	padding: 100px;
	background: #111;
	display: none;


}

.container h2 {
	font-size: 2.5em;
	margin-bottom: 20px;
	color: #fff;
}

.container p {
	font-size: 1em;
	color: #fff;
}
